.idea/
__pycache__/
attention_ocr_fsns/
from_cluster/
logs/
geoparsing/
input_videos/
inference/
MOT16_eval/
video_storage/
osm_database/
qgis_paris/
important_statistics_documentation.txt
./YoutubeAPI-Query/api_token.txt
./YoutubeAPI-Query/db_psw.txt
db_psw.txt
*.bak
*.mp4
*.pptx